
.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

.list li {
  background-color: #fff;
  box-shadow: var(--box-shadow);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 0;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
}

.list li.plus {
  border-left: 5px solid #3fd467;
}

.list li.minus {
  border-left: 5px solid #f23d3d;
}

.delete-btn {
  cursor: pointer;
  background-color: #e74c3c;
  border: 0;
  color: #fff;
  font-size: 20px;
  line-height: 20px;
  padding: 5px 8px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(100%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease;
  -webkit-transform: translate(100%, -50%);
  -moz-transform: translate(100%, -50%);
  -ms-transform: translate(100%, -50%);
  -o-transform: translate(100%, -50%);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

.list li:hover .delete-btn {
  opacity: 1;
}

.history-section {
  padding: 30px 80px;
  display: inline-block;
  vertical-align: top;
  width: 50%;
  @media all and (max-width: 991px) {
    padding: 30px 50px;
  }
  @media all and (max-width: 425px) {
    width: 100%;
  }
}
